{
  "extends": "stylelint-config-standard",
  "rules": {
    "property-no-unknown": [true, {
      "ignoreProperties": [
        "composes"
      ]
    }],
    "block-opening-brace-space-before": "always-multi-line"
  }
}
