.nav {
  composes: colour__background__black colour__text__white from "~/Atoms/Colours.css";
  text-align: center;
  height: 100vh;
  width: 6rem;
}

.list {
  composes: reset from "~/Atoms/Lists.css";
  margin-top: 0;
}

.item {
  composes: colour__text__grey from "~/Atoms/Colours.css";
  composes: xxlarge from "~/Atoms/Type.css";
  display: block;
  margin-bottom: 3rem;
}

.itemActive {
  composes: item;
  composes: colour__text__blueLight from "~/Atoms/Colours.css";
}

.itemHeader {
  composes: item;
  composes: colour__background__blue from "~/Atoms/Colours.css";
  height: 6rem;
  padding-top: 1rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.text {
  composes: hide from "~/Atoms/Type.css";
}
