:root {
  --width__sm: 0.1rem;
  --width__md: 0.2rem;
  --width__lg: 0.3rem;
  --radius__sm: 0.15rem;
  --radius__md: 0.3rem;
  --radius__lg: 0.6rem;
  --style: solid;
}

.width__sm   { border-width: var(--width__sm); }
.width__md  { border-width: var(--width__md); }
.width__lg   { border-width: var(--width__lg); }

.style { border-style: var(--style); }

.radius__sm { border-radius: var(--radius__sm); }

.radius__sm__top {
  border-top-left-radius: var(--radius__sm);
  border-top-right-radius: var(--radius__sm);
}

.radius__sm__right {
  border-top-right-radius: var(--radius__sm);
  border-bottom-right-radius: var(--radius__sm);
}

.radius__sm__bottom {
  border-bottom-left-radius: var(--radius__sm);
  border-bottom-right-radius: var(--radius__sm);
}

.radius__sm__left {
  border-top-left-radius: var(--radius__sm);
  border-bottom-left-radius: var(--radius__sm);
}

.radius__sm__firstChild:first-child {
  border-top-left-radius: var(--radius__sm);
  border-bottom-left-radius: var(--radius__sm);
}

.radius__sm__lastChild:last-child {
  border-top-right-radius: var(--radius__sm);
  border-bottom-right-radius: var(--radius__sm);
}

.radius__sm__topChild:first-child {
  border-top-left-radius: var(--radius__sm);
  border-top-right-radius: var(--radius__sm);
}

.radius__sm__bottomChild:last-child {
  border-bottom-left-radius: var(--radius__sm);
  border-bottom-right-radius: var(--radius__sm);
}

.radius,
.radius__md { border-radius: var(--radius__md); }

.radius__top,
.radius__md__top {
  border-top-left-radius: var(--radius__md);
  border-top-right-radius: var(--radius__md);
}

.radius__right,
.radius__md__right {
  border-top-right-radius: var(--radius__md);
  border-bottom-right-radius: var(--radius__md);
}

.radius__bottom,
.radius__md__bottom {
  border-bottom-left-radius: var(--radius__md);
  border-bottom-right-radius: var(--radius__md);
}

.radius__left,
.radius__md__left {
  border-top-left-radius: var(--radius__md);
  border-bottom-left-radius: var(--radius__md);
}

.radius__firstChild:first-child,
.radius__md__firstChild:first-child {
  border-top-left-radius: var(--radius__md);
  border-bottom-left-radius: var(--radius__md);
}

.radius__lastChild:last-child,
.radius__md__lastChild:last-child {
  border-top-right-radius: var(--radius__md);
  border-bottom-right-radius: var(--radius__md);
}

.radius__topChild:first-child,
.radius__md__topChild:first-child {
  border-top-left-radius: var(--radius__md);
  border-top-right-radius: var(--radius__md);
}

.radius__bottomChild:last-child,
.radius__md__bottomChild:last-child {
  border-bottom-left-radius: var(--radius__md);
  border-bottom-right-radius: var(--radius__md);
}

.radius__lg { border-radius: var(--radius__lg); }

.radius__lg__top {
  border-top-left-radius: var(--radius__lg);
  border-top-right-radius: var(--radius__lg);
}

.radius__lg__right {
  border-top-right-radius: var(--radius__lg);
  border-bottom-right-radius: var(--radius__lg);
}

.radius__lg__bottom {
  border-bottom-left-radius: var(--radius__lg);
  border-bottom-right-radius: var(--radius__lg);
}

.radius__lg__left {
  border-top-left-radius: var(--radius__lg);
  border-bottom-left-radius: var(--radius__lg);
}

.radius__lg__firstChild:first-child {
  border-top-left-radius: var(--radius__lg);
  border-bottom-left-radius: var(--radius__lg);
}

.radius__lg__lastChild:last-child {
  border-top-right-radius: var(--radius__lg);
  border-bottom-right-radius: var(--radius__lg);
}

.radius__lg__topChild:first-child {
  border-top-left-radius: var(--radius__lg);
  border-top-right-radius: var(--radius__lg);
}

.radius__lg__bottomChild:last-child {
  border-bottom-left-radius: var(--radius__lg);
  border-bottom-right-radius: var(--radius__lg);
}

.radius__sharp { border-radius: 0; }

.light { composes: width__sm style radius; }
.medium { composes: width__md style radius; }
.heavy { composes: width__lg style radius; }

.light__sharp { composes: width__sm style radius__sharp; }
.medium__sharp { composes: width__md style radius__sharp; }
.heavy__sharp { composes: width__lg style radius__sharp; }

.width__top__light { border-top-width: var(--width__sm); }
.width__top__medium { border-top-width: var(--width__md); }
.width__top__heavy { border-top-width: var(--width__lg); }
.style__top { border-top-style: var(--style); }

.light__top__sharp { composes: width__top__light style__top radius__sharp; }
.medium__top__sharp { composes: width__top__medium style__top radius__sharp; }
.heavy__top__sharp { composes: width__top__heavy style__top radius__sharp; }

.width__bottom__light { border-bottom-width: var(--width__sm); }
.width__bottom__medium { border-bottom-width: var(--width__md); }
.width__bottom__heavy { border-bottom-width: var(--width__lg); }
.style__bottom { border-bottom-style: var(--style); }

.light__bottom__sharp { composes: width__bottom__light style__bottom radius__sharp; }
.medium__bottom__sharp { composes: width__bottom__medium style__bottom radius__sharp; }
.heavy__bottom__sharp { composes: width__bottom__heavy style__bottom radius__sharp; }

.width__left__light { border-left-width: var(--width__sm); }
.width__left__medium { border-left-width: var(--width__md); }
.width__left__heavy { border-left-width: var(--width__lg); }
.style__left { border-left-style: var(--style); }

.light__left__sharp { composes: width__left__light style__left radius__sharp; }
.medium__left__sharp { composes: width__left__medium style__left radius__sharp; }
.heavy__left__sharp { composes: width__left__heavy style__left radius__sharp; }

.width__right__light { border-right-width: var(--width__sm); }
.width__right__medium { border-right-width: var(--width__md); }
.width__right__heavy { border-right-width: var(--width__lg); }
.style__right { border-right-style: var(--style); }

.light__right__sharp { composes: width__right__light style__right radius__sharp; }
.medium__right__sharp { composes: width__right__medium style__right radius__sharp; }
.heavy__right__sharp { composes: width__right__heavy style__right radius__sharp; }
