:root {
  --colour__black: #000;
  --colour__greyDark: #555;
  --colour__grey: #aaa;
  --colour__greyLight: #eee;
  --colour__white: #fff;
  --colour__blue: #0096ff;
  --colour__blueLight: #80cbff;
  --transitionDuration: 0.15s;
}

.text__black      { color: var(--colour__black); }
.text__greyDark  { color: var(--colour__greyDark); }
.text__grey       { color: var(--colour__grey); }
.text__greyLight { color: var(--colour__greyLight); }
.text__white      { color: var(--colour__white); }
.text__blue       { color: var(--colour__blue); }
.text__blueLight { color: var(--colour__blueLight); }

.background__black      { background-color: var(--colour__black); }
.background__greyDark  { background-color: var(--colour__greyDark); }
.background__grey       { background-color: var(--colour__grey); }
.background__greyLight { background-color: var(--colour__greyLight); }
.background__white      { background-color: var(--colour__white); }
.background__blue       { background-color: var(--colour__blue); }
.background__blueLight { background-color: var(--colour__blueLight); }

.border__black      { border-color: var(--colour__black); }
.border__greyDark  { border-color: var(--colour__greyDark); }
.border__grey       { border-color: var(--colour__grey); }
.border__greyLight { border-color: var(--colour__greyLight); }
.border__white      { border-color: var(--colour__white); }
.border__blue       { border-color: var(--colour__blue); }
.border__blueLight { border-color: var(--colour__blueLight); }

.outline__blue,
.outline__blue__hover:hover {
  box-shadow: 0 0 0 0.2rem var(--colour__blue);
}

.link__underline {
  composes: text__black;
  box-shadow: inset 0 -0.5em var(--colour__blueLight);
  transition: box-shadow 0.3s;
  text-decoration: none;
}

.link__underline:hover {
  box-shadow: inset 0 -2em var(--colour__blueLight);
}

.button {
  background-color: var(--colour__white);
  border-color: var(--colour__black);
  color: var(--colour__black);
  transition-property: border-color, background-color, color;
  transition-duration: var(--transitionDuration);
}

.button:disabled,
.buttonDisabled {
  opacity: 0.5;
  background-color: var(--colour__greyLight);
  border-color: var(--colour__grey);
  color: var(--colour__grey);
}

.button:hover {
  color: var(--colour__white);
  border-color: var(--colour__blue);
  background-color: var(--colour__blue);
}

.button_submit {
  composes: button;
  background-color: var(--colour__black);
  border-color: var(--colour__black);
  color: var(--colour__white);
}

.button_submit:disabled {
  background-color: var(--colour__grey);
  border-color: var(--colour__grey);
  color: var(--colour__greyLight);
}

.input {
  background-color: var(--colour__white);
  border-color: var(--colour__black);
  color: var(--colour__black);
  transition-property: border-color, background-color, color;
  transition-duration: var(--transitionDuration);
}

.input::placeholder {
  color: var(--colour__grey);
}

.input:disabled {
  opacity: 0.5;
  background-color: var(--colour__greyLight);
  border-color: var(--colour__grey);
}

.input:hover,
.input:hover::placeholder {
  color: var(--colour__blue);
  border-color: var(--colour__blue);
}

.input:focus {
  color: var(--colour__black);
  border-color: var(--colour__blue);
}

.input:focus::placeholder {
  color: var(--colour__grey);
}
