.input {
  composes: fontSize__normal from "~/Quarks/Type.css";
  composes: light from "~/Quarks/Borders.css";
  composes: input from "~/Quarks/Colours.css";
  line-height: 3.8rem;
  height: 4rem;
  padding: 0 1.5rem;
  width: 100%;
}

.input:disabled {
  pointer-events: none;
}

.inputText,
.inputSelect {
  composes: input;
}

.inputText {
  composes: one__inset__light from "~/Quarks/Shadows.css";
}

.inputSelect {
  appearance: none;
  composes: one__light from "~/Quarks/Shadows.css";
  background-image: url("./Select/select-arrow.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
