.group,
.groupDisabled { /* empty class for theming hook */ }

.label {
  composes: label from "~/Atoms/Label.css";
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 1rem;
  padding: 0;
}

.labelDisabled {
  composes: label;
  opacity: 0.5;
  pointer-events: none;
}

.labelActive { composes: label; }

.labelActiveDisabled { composes: labelDisabled; }

.radio {
  margin-right: 1.5em;
}
