.group {
  composes: button from "~/Atoms/Button/Button.css";
  padding: 0;
  display: flex;
}

.groupDisabled {
  composes: group;
  composes: buttonDisabled from "~/Quarks/Colours.css";
}

.label {
  composes: button outline__blue__hover from "~/Quarks/Colours.css";
  composes: radius__sm__firstChild radius__sm__lastChild from "~/Quarks/Borders.css";
  text-align: center;
  flex: 1;
}

label:hover {
  z-index: 1;
}

.labelDisabled {
  composes: label;
  composes: buttonDisabled from "~/Quarks/Colours.css";
  opacity: 0.5;
  pointer-events: none;
}

.labelActive {
  composes: label;
  background-color: #000;
  color: #fff;
}

.labelActiveDisabled {
  composes: labelDisabled labelActive;
}

.label + .label {
  margin-left: 0;
}

.radio {
  opacity: 0;
  position: absolute;
}
