.button {
  composes: fontSize__normal fontWeight__heavy from "~/Quarks/Type.css";
  composes: medium from "~/Quarks/Borders.css";
  composes: one__light from "~/Quarks/Shadows.css";
  line-height: 3.4rem;
  height: 4rem;
  padding: 0 1.5rem;
}

.button:disabled {
  pointer-events: none;
}

.button + .button {
  margin-left: 1.5rem;
}

.normal {
  composes: button;
  composes: button from "~/Quarks/Colours.css";
}

.submit {
  composes: button;
  composes: button_submit from "~/Quarks/Colours.css";
}
