/*
 * icon position with BIG UPs to
 * https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4#.blsiaajiu
 */

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1.25em;
}

.svg {
  height: 1.25em;
  width: 1.25em;
  top: 0;
  position: absolute;
}

.icon .svg *[fill="#000000"] {
  fill: currentColor;
}

.icon .svg *[stroke="#000000"] {
  stroke: currentColor;
}
