.title {
  composes: xlarge from "~/Atoms/Type.css";
  composes: light--bottom--sharp from "~/Atoms/Borders.css";
  padding-bottom: 0.4rem;
  margin-bottom: 2.5rem;
}

.actions {
  padding-top: 4rem;
  text-align: right;
}
