.input {
  composes: fontSize--normal from "~/Atoms/Type.css";
  composes: light from "~/Atoms/Borders.css";
  composes: one--inset--light from "~/Atoms/Borders.css";
  border-color: black;
  line-height: 3.8rem;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: white;
  width: 100%;
}
.input:disabled {
  opacity: .5;
  background-color: #eee;
  border-color: #aaa;
  pointer-events: none;
}

.inputText,
.inputSelect {
  composes: input;
}

.inputSelect {
  appearance: none;
}
