.input {
  font-size: 1.6rem;
  height: 4rem;
  line-height: 3.8rem;
  padding: 0 1.5rem;
  border: .1rem solid black;
  border-radius: .3rem;
  box-shadow: inset .1rem .1rem .1rem .1rem rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 100%;
}
.input:disabled {
  opacity: .5;
  background-color: #eee;
  border-color: #aaa;
  pointer-events: none;
}

.inputText,
.inputSelect {
  composes: input;
}

.inputSelect {
  appearance: none;
}
