.header {
  background-color: #222;
  padding: 1rem;
  color: white;
  white-space: nowrap;
  text-align: center;
}

.logo,
.title {
  vertical-align: middle;
}

.logo {
  height: 4rem;
}

.title {
  composes: h3 from "~/Atoms/Type.css";
  display: inline-block;
}

.content {
  width: 39rem;
  margin: 0 auto;
  padding: 4rem 0;
}
