.borderWidth__light   { border-width: 0.1rem; }
.borderWidth__medium  { border-width: 0.2rem; }
.borderWidth__heavy   { border-width: 0.3rem; }

.borderStyle  { border-style: solid; }

.borderRadius { border-radius: 0.3rem; }
.borderRadius__top {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.borderRadius__right {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.borderRadius__bottom {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.borderRadius__left {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.borderRadius__firstChild:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.borderRadius__lastChild:last-child {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.borderRadius__topChild:first-child {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.borderRadius__bottomChild:last-child {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.borderRadius__sharp { border-radius: 0; }

.light { composes: borderWidth__light borderStyle borderRadius; }
.medium { composes: borderWidth__medium borderStyle borderRadius; }
.heavy { composes: borderWidth__heavy borderStyle borderRadius; }

.light__sharp { composes: borderWidth__light borderStyle borderRadius__sharp; }
.medium__sharp { composes: borderWidth__medium borderStyle borderRadius__sharp; }
.heavy__sharp { composes: borderWidth__heavy borderStyle borderRadius__sharp; }

.borderWidth__top__light { border-top-width: 0.1rem; }
.borderWidth__top__medium { border-top-width: 0.2rem; }
.borderWidth__top__heavy { border-top-width: 0.3rem; }
.borderStyle__top { border-top-style: solid; }

.light__top__sharp { composes: borderWidth__top__light borderStyle__top borderRadius__sharp; }
.medium__top__sharp { composes: borderWidth__top__medium borderStyle__top borderRadius__sharp; }
.heavy__top__sharp { composes: borderWidth__top__heavy borderStyle__top borderRadius__sharp; }

.borderWidth__bottom__light { border-bottom-width: 0.1rem; }
.borderWidth__bottom__medium { border-bottom-width: 0.2rem; }
.borderWidth__bottom__heavy { border-bottom-width: 0.3rem; }
.borderStyle__bottom { border-bottom-style: solid; }

.light__bottom__sharp { composes: borderWidth__bottom__light borderStyle__bottom borderRadius__sharp; }
.medium__bottom__sharp { composes: borderWidth__bottom__medium borderStyle__bottom borderRadius__sharp; }
.heavy__bottom__sharp { composes: borderWidth__bottom__heavy borderStyle__bottom borderRadius__sharp; }

.borderWidth__left__light { border-left-width: 0.1rem; }
.borderWidth__left__medium { border-left-width: 0.2rem; }
.borderWidth__left__heavy { border-left-width: 0.3rem; }
.borderStyle__left { border-left-style: solid; }

.light__left__sharp { composes: borderWidth__left__light borderStyle__left borderRadius__sharp; }
.medium__left__sharp { composes: borderWidth__left__medium borderStyle__left borderRadius__sharp; }
.heavy__left__sharp { composes: borderWidth__left__heavy borderStyle__left borderRadius__sharp; }

.borderWidth__right__light { border-right-width: 0.1rem; }
.borderWidth__right__medium { border-right-width: 0.2rem; }
.borderWidth__right__heavy { border-right-width: 0.3rem; }
.borderStyle__right { border-right-style: solid; }

.light__right__sharp { composes: borderWidth__right__light borderStyle__right borderRadius__sharp; }
.medium__right__sharp { composes: borderWidth__right__medium borderStyle__right borderRadius__sharp; }
.heavy__right__sharp { composes: borderWidth__right__heavy borderStyle__right borderRadius__sharp; }
