.borderWidth--light  { border-width: .1rem; }
.borderWidth  { border-width: .2rem; }
.borderWidth--heavy   { border-width: .3rem; }

.borderStyle  { border-style: solid; }

.borderRadius { border-radius: .3rem; }
.borderRadius--sharp { border-radius: 0; }

.light { composes: borderWidth--light borderStyle borderRadius; }
.normal { composes: borderWidth borderStyle borderRadius; }
.heavy { composes: borderWidth--heavy borderStyle borderRadius; }

.light--sharp { composes: borderWidth--light borderStyle borderRadius--sharp; }
.normal--sharp { composes: borderWidth borderStyle borderRadius--sharp; }
.heavy--sharp { composes: borderWidth--heavy borderStyle borderRadius--sharp; }
