:root {
  --colour__black: #000;
  --colour__greyDark: #555;
  --colour__grey: #aaa;
  --colour__greyLight: #eee;
  --colour__white: #fff;
  --colour__blue: #0096ff;
  --colour__blueLight: #80cbff;
  --transition-duration: 0.15;
}

.colour__text_black      { color: var(--colour__black); }
.colour__text_greyDark  { color: var(--colour__greyDark); }
.colour__text_grey       { color: var(--colour__grey); }
.colour__text_greyLight { color: var(--colour__greyLight); }
.colour__text_white      { color: var(--colour__white); }
.colour__text_blue       { color: var(--colour__blue); }
.colour__text_blueLight { color: var(--colour__blueLight); }

.colour__background_black      { background-color: var(--colour__black); }
.colour__background_greyDark  { background-color: var(--colour__greyDark); }
.colour__background_grey       { background-color: var(--colour__grey); }
.colour__background_greyLight { background-color: var(--colour__greyLight); }
.colour__background_white      { background-color: var(--colour__white); }
.colour__background_blue       { background-color: var(--colour__blue); }
.colour__background_blueLight { background-color: var(--colour__blueLight); }

.colour__border_black      { border-color: var(--colour__black); }
.colour__border_greyDark  { border-color: var(--colour__greyDark); }
.colour__border_grey       { border-color: var(--colour__grey); }
.colour__border_greyLight { border-color: var(--colour__greyLight); }
.colour__border_white      { border-color: var(--colour__white); }
.colour__border_blue       { border-color: var(--colour__blue); }
.colour__border_blueLight { border-color: var(--colour__blueLight); }

.colour__link__underline {
  composes: colour__text_black;
  box-shadow: inset 0 -0.5em var(--colour__blueLight);
  transition: box-shadow 0.3s;
  text-decoration: none;
}

.colour__link__underline:hover {
  box-shadow: inset 0 -2em var(--colour__blueLight);
}

.colour__button {
  background-color: var(--colour__white);
  border-color: var(--colour__black);
  color: var(--colour__black);
  transition-property: border-color, background-color, color;
  transition-duration: var(--transition-duration);
}

.colour__button:disabled {
  opacity: 0.5;
  background-color: var(--colour__greyLight);
  border-color: var(--colour__grey);
  color: var(--colour__grey);
}

.colour__button:hover {
  color: var(--colour__white);
  border-color: var(--colour__blue);
  background-color: var(--colour__blue);
}

.colour__button_submit {
  composes: colour__button;
  background-color: var(--colour__black);
  border-color: var(--colour__black);
  color: var(--colour__white);
}

.colour__button_submit:disabled {
  background-color: var(--colour__grey);
  border-color: var(--colour__grey);
  color: var(--colour__greyLight);
}

.colour__input {
  background-color: var(--colour__white);
  border-color: var(--colour__black);
  color: var(--colour__black);
  transition-property: border-color, background-color, color;
  transition-duration: var(--transition-duration);
}

.colour__input::placeholder {
  color: var(--colour__grey);
}

.colour__input:disabled {
  opacity: 0.5;
  background-color: var(--colour__greyLight);
  border-color: var(--colour__grey);
}

.colour__input:hover,
.colour__input:hover::placeholder {
  color: var(--colour__blue);
  border-color: var(--colour__blue);
}

.colour__input:focus {
  color: var(--colour__black);
  border-color: var(--colour__blue);
}

.colour__input:focus::placeholder {
  color: var(--colour__grey);
}
