.borderWidth--light {
  border-width: 0.1rem;
}

.borderWidth--medium {
  border-width: 0.2rem;
}

.borderWidth--heavy {
  border-width: 0.3rem;
}

.borderStyle {
  border-style: solid;
}

.borderRadius {
  border-radius: 0.3rem;
}

.borderRadius--sharp {
  border-radius: 0;
}

.light {
  composes: borderWidth--light borderStyle borderRadius;
}

.medium {
  composes: borderWidth--medium borderStyle borderRadius;
}

.heavy {
  composes: borderWidth--heavy borderStyle borderRadius;
}

.light--sharp {
  composes: borderWidth--light borderStyle borderRadius--sharp;
}

.medium--sharp {
  composes: borderWidth--medium borderStyle borderRadius--sharp;
}

.heavy--sharp {
  composes: borderWidth--heavy borderStyle borderRadius--sharp;
}

.borderWidth--top--light {
  border-top-width: 0.1rem;
}

.borderWidth--top--medium {
  border-top-width: 0.2rem;
}

.borderWidth--top--heavy {
  border-top-width: 0.3rem;
}

.borderStyle--top {
  border-top-style: solid;
}

.light--top--sharp {
  composes: borderWidth--top--light borderStyle--top borderRadius--sharp;
}

.medium--top--sharp {
  composes: borderWidth--top--medium borderStyle--top borderRadius--sharp;
}

.heavy--top--sharp {
  composes: borderWidth--top--heavy borderStyle--top borderRadius--sharp;
}

.borderWidth--bottom--light {
  border-bottom-width: 0.1rem;
}

.borderWidth--bottom--medium {
  border-bottom-width: 0.2rem;
}

.borderWidth--bottom--heavy {
  border-bottom-width: 0.3rem;
}

.borderStyle--bottom {
  border-bottom-style: solid;
}

.light--bottom--sharp {
  composes: borderWidth--bottom--light borderStyle--bottom borderRadius--sharp;
}

.medium--bottom--sharp {
  composes: borderWidth--bottom--medium borderStyle--bottom borderRadius--sharp;
}

.heavy--bottom--sharp {
  composes: borderWidth--bottom--heavy borderStyle--bottom borderRadius--sharp;
}

.borderWidth--left--light {
  border-left-width: 0.1rem;
}

.borderWidth--left--medium {
  border-left-width: 0.2rem;
}

.borderWidth--left--heavy {
  border-left-width: 0.3rem;
}

.borderStyle--left {
  border-left-style: solid;
}

.light--left--sharp {
  composes: borderWidth--left--light borderStyle--left borderRadius--sharp;
}

.medium--left--sharp {
  composes: borderWidth--left--medium borderStyle--left borderRadius--sharp;
}

.heavy--left--sharp {
  composes: borderWidth--left--heavy borderStyle--left borderRadius--sharp;
}

.borderWidth--right--light {
  border-right-width: 0.1rem;
}

.borderWidth--right--medium {
  border-right-width: 0.2rem;
}

.borderWidth--right--heavy {
  border-right-width: 0.3rem;
}

.borderStyle--right {
  border-right-style: solid;
}

.light--right--sharp {
  composes: borderWidth--right--light borderStyle--right borderRadius--sharp;
}

.medium--right--sharp {
  composes: borderWidth--right--medium borderStyle--right borderRadius--sharp;
}

.heavy--right--sharp {
  composes: borderWidth--right--heavy borderStyle--right borderRadius--sharp;
}
