.title {
  composes: xlarge from "~/Quarks/Type.css";
  composes: light__bottom__sharp from "~/Quarks/Borders.css";
  padding-bottom: 0.4rem;
  margin-bottom: 2.5rem;
}

.actions {
  padding-top: 4rem;
  text-align: right;
}
