.one__light { box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.one__medium { box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.one__heavy { box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }

.two__light { box-shadow: 0.3rem 0.3rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.two__medium { box-shadow: 0.3rem 0.3rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.two__heavy { box-shadow: 0.3rem 0.3rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }

.three__light { box-shadow: 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.three__medium { box-shadow: 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.three__heavy { box-shadow: 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }

.one__inset__light { box-shadow: inset 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.one__inset__medium { box-shadow: inset 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.one__inset__heavy { box-shadow: inset 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }

.two__inset__light { box-shadow: inset 0.3rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.two__inset__medium { box-shadow: inset 0.3rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.two__inset__heavy { box-shadow: inset 0.3rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }

.three__inset__light { box-shadow: inset 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.08); }
.three__inset__medium { box-shadow: inset 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
.three__inset__heavy { box-shadow: inset 0.6rem 0.6rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }
