.fontSize__base   { font-size: 0.8rem; }

.fontSize__micro    { composes: fontSize__base; }
.fontSize__tiny     { font-size: 1.2rem; }
.fontSize__small    { font-size: 1.4rem; }
.fontSize__normal   { font-size: 1.6rem; }
.fontSize__large    { font-size: 1.8rem; }
.fontSize__xlarge   { font-size: 2.4rem; }
.fontSize__xxlarge  { font-size: 3.2rem; }
.fontSize__huge     { font-size: 4rem; }
.fontSize__giant    { font-size: 4.8rem; }
.fontSize__titanic  { font-size: 6.4rem; }

.lineHeight__micro  { line-height: 1rem; }
.lineHeight         { line-height: 2rem; }
.lineHeight__large  { line-height: 1.25; }

.lineBreak__small   { margin-bottom: 1rem; }
.lineBreak          { margin-bottom: 2rem; }
.lineBreak__large   { margin-bottom: 3rem; }
.lineBreak__xlarge  { margin-bottom: 4rem; }

.fontWeight__hairline { font-weight: 100; }
.fontWeight__light    { font-weight: 300; }
.fontWeight           { font-weight: 400; }
.fontWeight__normal   { composes: fontWeight; }
.fontWeight__heavy    { font-weight: 500; }
.fontWeight__bold     { font-weight: 600; }

.micro    { composes: fontSize__micro lineHeight__micro; }
.tiny     { composes: fontSize__tiny lineHeight; }
.small    { composes: fontSize__small lineHeight; }
.normal   { composes: fontSize__normal lineHeight; }
.large    { composes: fontSize__large lineHeight; }
.xlarge   { composes: fontSize__xlarge lineHeight__large; }
.xxlarge  { composes: fontSize__xxlarge lineHeight__large; }
.huge     { composes: fontSize__huge lineHeight__large; }
.giant    { composes: fontSize__giant lineHeight__large; }
.titanic  { composes: fontSize__titanic lineHeight__large; }

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8,
.large,
.normal,
.small,
.tiny {
  composes: lineBreak fontWeight__bold;
}

.micro {
  composes: lineBreak__small;
}

.h0 { composes: titanic; }
.h1 { composes: giant; }
.h2 { composes: huge; }
.h3 { composes: xxlarge; }
.h4 { composes: xlarge; }
.h5 { composes: large; }
.h6 { composes: normal; }
.h7 { composes: small; }
.h8 { composes: tiny; }
