.fontSize--base   { font-size: 0.8rem; }

.fontSize--micro    { composes: fontSize--base; }
.fontSize--tiny     { font-size: 1.2rem; }
.fontSize--small    { font-size: 1.4rem; }
.fontSize--normal   { font-size: 1.6rem; }
.fontSize--large    { font-size: 1.8rem; }
.fontSize--xlarge   { font-size: 2.4rem; }
.fontSize--xxlarge  { font-size: 3.2rem; }
.fontSize--huge     { font-size: 4rem; }
.fontSize--giant    { font-size: 4.8rem; }
.fontSize--titanic  { font-size: 6.4rem; }

.lineHeight--micro  { line-height: 1rem; }
.lineHeight         { line-height: 2rem; }
.lineHeight--large  { line-height: 1.25; }

.lineBreak--small   { margin-bottom: 1rem; }
.lineBreak          { margin-bottom: 2rem; }
.lineBreak--large   { margin-bottom: 3rem; }
.lineBreak--xlarge  { margin-bottom: 4rem; }

.fontWeight--hairline { font-weight: 100; }
.fontWeight--light    { font-weight: 300; }
.fontWeight           { font-weight: 400; }
.fontWeight--normal   { composes: fontWeight; }
.fontWeight--heavy    { font-weight: 500; }
.fontWeight--bold     { font-weight: 600; }

.micro    { composes: fontSize--micro lineHeight--micro; }
.tiny     { composes: fontSize--tiny lineHeight; }
.small    { composes: fontSize--small lineHeight; }
.normal   { composes: fontSize--normal lineHeight; }
.large    { composes: fontSize--large lineHeight; }
.xlarge   { composes: fontSize--xlarge lineHeight--large; }
.xxlarge  { composes: fontSize--xxlarge lineHeight--large; }
.huge     { composes: fontSize--huge lineHeight--large; }
.giant    { composes: fontSize--giant lineHeight--large; }
.titanic  { composes: fontSize--titanic lineHeight--large; }

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8,
.large,
.normal,
.small,
.tiny {
  composes: lineBreak fontWeight--bold;
}

.micro {
  composes: lineBreak--small;
}

.h0 { composes: titanic; }
.h1 { composes: giant; }
.h2 { composes: huge; }
.h3 { composes: xxlarge; }
.h4 { composes: xlarge; }
.h5 { composes: large; }
.h6 { composes: normal; }
.h7 { composes: small; }
.h8 { composes: tiny; }
