.button {
  composes: fontSize--normal fontWeight--heavy from "~/Atoms/Type.css";
  composes: medium from "~/Atoms/Borders.css";
  composes: one--light from "~/Atoms/Shadows.css";
  line-height: 3.4rem;
  height: 4rem;
  padding: 0 1.5rem;
}
.button:disabled {
  opacity: .5;
  pointer-events: none;
  color: #aaa;
  border-color: #aaa;
  background-color: #eee;
}

.button + .button {
  margin-left: 1.5rem;
}

.normal {
  composes: button;
  background-color: white;
  border-color: black;
  color: black;
}
.normal:hover {
  background-color: black;
  color: white;
}

.submit {
  composes: button;
  background-color: black;
  border-color: black;
  color: white;
}
.submit:disabled {
  color: #eee;
  border-color: #aaa;
  background-color: #aaa;
}
.submit:hover {
  background-color: white;
  color: black;
}
