.button {
  composes: fontSize--normal fontWeight--heavy from "~/Atoms/Type.css";
  composes: medium from "~/Atoms/Borders.css";
  composes: one--light from "~/Atoms/Shadows.css";
  line-height: 3.4rem;
  height: 4rem;
  padding: 0 1.5rem;
}

.button:disabled {
  pointer-events: none;
}

.button + .button {
  margin-left: 1.5rem;
}

.normal {
  composes: button;
  composes: colour__button from "~/Atoms/Colours.css";
}

.submit {
  composes: button;
  composes: colour__button--submit from "~/Atoms/Colours.css";
}
