.input {
  height: 3rem;
  line-height: 3rem;
  padding: 0 5px;
  border: .1rem solid black;
  border-radius: .2rem;
  box-shadow: inset .1rem .1rem .1rem .1rem rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 100%;
}
.input:disabled {
  opacity: .5;
  pointer-events: none;
}

.inputText {
  composes: input;
}

.inputSelect {
  composes: input;
  appearance: none;
}
