.input {
  composes: fontSize--normal from "~/Atoms/Type.css";
  composes: light from "~/Atoms/Borders.css";
  composes: colour__input from "~/Atoms/Colours.css";
  line-height: 3.8rem;
  height: 4rem;
  padding: 0 1.5rem;
  width: 100%;
}
.input:disabled {
  pointer-events: none;
}

.inputText,
.inputSelect {
  composes: input;
}

.inputText {
  composes: one__inset__light from "~/Atoms/Shadows.css";
}

.inputSelect {
  appearance: none;
  composes: one__light from "~/Atoms/Shadows.css";
  background-image: url("./Select/select-arrow.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
