.label {
  composes: button from "~/Button/Button.css";
  composes: colour__button from "~/Atoms/Colours.css";
  display: inline-block;
}
.disabledLabel {
  composes: label;
  opacity: .5;
  pointer-events: none;
}
.label + .label {
  margin-left: 0;
}

.radio {
  opacity: 0;
  position: absolute;
}
